<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src='js/main.js'></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script type="text/javascript">
		$(document).ready(function(){

			$('#container').css('display','none');
			$('#loading').css('display','none');
			var socket = io.connect();
			signIn();

			function signIn(){
				$('#sign_in > input').focus();
				$('#sign_in > button').click(function(){
					var name=$('#sign_in > input').val();
					socket.emit('new_user',name);
					$('#sign_in').css('display','none');
					$('#loading').css('display','block');
				});
			}
			//emitted when server has initialized game objects
			socket.on('start',function(players,game_id){
				initialize(players,game_id);
			});


			function initialize(players,game_id){
				var player1=players[0]
				var player2=players[1];
				var no_of_cells=32;
				var score_limit=100;

				$('#loading').css('display','none');
				$('#container').css('display','block');
				
				//re-assign element ids specific to individual players
				$('#player1_name').html(player1.name)
				$('#player2_name').html(player2.name)
				
				$('#player1_score').attr('id',player1.name+'_score');
				$('#player2_score').attr('id',player2.name+'_score');

				$('#'+player1.name+'_score').html(0);
				$('#'+player2.name+'_score').html(0);

				$('#player1_score_update').attr('id',player1.name+'_score_update');
				$('#player2_score_update').attr('id',player2.name+'_score_update');


				$('#game').html("");
				//for loops: create cells
				for(i=0;i<no_of_cells/2;i++){
					$('#game').append("<div id="+i+" class='cell player1'></div>");
				}
				for(i=no_of_cells/2;i<no_of_cells;i++){
					$('#game').append("<div id="+i+" class='cell player2'></div>");
				}

				$('.cell').click(function(){
					var id=$(this).attr('id');
					socket.emit('cell_clicked',id,game_id);
				});
			}
			//if cell was activated
			socket.on('cell_activated',function(id){
				$('#'+id).toggleClass('active');
			});
			//if cell was deactivated
			socket.on('cell_deactivated',function(id,player,new_points){
				$('#'+id).toggleClass('active');
				$('#'+player.name+'_score').html(player.score);
				$('#'+player.name+'_score_update').html("<span id='anim' class='enable'>+ "+new_points+"</span>");
			});

			//game ended
			socket.on('game_over',function(player1,player2,winner,game_id){
				$('#'+player1.name+'_score').html(player1.score);
				$('#'+player2.name+'_score').html(player2.score);

				$('#game').html("<div id='game_over'><h3>GAME OVER<br>"+winner+" wins!</h3></div>");
				$('#game_over').append("<button>REMATCH</button>");
				$('#game_over > button').click(function(){
					challengeRematch(game_id);
					$(this).css('display','none');
					$('#game_over').append("<p>Challenge sent</p>");
				});
   			});
			//rematch clicked
   			function challengeRematch(game_id){
				socket.emit('challengeRematch',game_id);
			}

			socket.on('challenged',function(name){
				$('#game_over').append("<p>"+name+" has challenged you to a rematch</p>");
			})
			socket.on('rematch',function(players,game_id){
				initialize(players,game_id);
			})

		});

		

	</script>
</head>
<body>
	<div id="super_container">
		<div id="sign_in">
			<p>Protect your cells. Your cells are the color of your name. Activating opposing cells gains points over time. Deactivate active cells to stop opponents from scoring.</p>
			Name: <input type='text'>
			<button>Start</button>
		</div>

		<div id="loading">
			<h3>Finding another player...</h3>
			<img src="images/loader.gif">
		</div>

		<div id="container">
			<div id='player1'>
				<h3 id='player1_name'></h3>
				Score:<span id='player1_score'></span>
				<div class='update'>
					<span id='player1_score_update'></span>
				</div>
			</div>

			<div id="game"></div>

			<div id='player2'>
				<h3 id='player2_name'></h3>
				Score:<span id='player2_score'></span>
				<div class='update'>
					<span id='player2_score_update'></span>
				</div>
			</div>
		</div>
	</div>

</body>
</html>